<!doctype html>

<html>

<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="jumbotron" id="indexJumbo">
		<a href="/"><img class="img" id="logoImg"></a>
		<center><h4>MentorMe</h4></center>
		<center><p>Find a Mentor &middot; Find a Mentee </p></center>
	</div>
	<br>

		<center><h4>FAQ</h4></center>
		<div class="container">
			<p class="accordion">What is the purpose of MentorMe?</p>
			<div class="panel">MentorMe is a mobile app that provides users
				the opportunity to connect with those in their professional network
				and exchange career-related advice and aspirations.
			</div>
			<p class="accordion">How are users matched?</p>
			<div class="panel">Users are matched with a mentor or mentee in their
				professional field based on their user preferences.
			</div>
			<p class="accordion">Who can use MentorMe?</p>
			<div class="panel">Anyone is welcome to create a profile and start connecting!
			</div>
			<p class="accordion">What makes MentorMe unique?</p>
			<div class="panel">MentorMe connects aspiring professionals with a mentor and
				experience professionals with mentees through creating a platform for their
				interaction and direct communication.
			</div>



<!-- NAV STARTS HERE -->
<div id="nav">

<li><img src="../images/backarrow.png" alt="Back image" class="backimg"></li>
<li><a href="/"><img src="../images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href="../messages/"><img src="../images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href="../settings/"><img src="../images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="">FAQ</a></li>

</div>
<!-- NAV ENDS HERE -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script src="/js/messageNotif.js"></script>
	<script src="/js/faq.js"></script>




</body>
</html>
