<!doctype html>



<html>



<head>

<title>HCI Project Portfolio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/introHCI.css" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->

</head>



<body>

<div class="topnav" id="myTopnav">
  <a href="/"><center><img src="../images/settings.png" alt="Settings image" class="settingsimg"><font size="3"color="black"><b>Settings</b></font></center></a>
</div>

</br>
</br>


<!--     <div class="jumbotron" id="indexJumbo">
      <a href="/"><img class="img" id="logoImg"></a>
      <center><h4>MentorMe</h4></center>
      <center><p class="tagline">Find a Mentor &middot; Find a Mentee </p></center>
    </div> -->

<div class="container">

<!-- <div class="line"> -->

<!-- <label >My Name:</label> -->

<!--   <div class="nameInput" id="myname">

  </div> -->

<form class = "form-horizontal" role = "form">
<div class="form-group">
<label class="col-xs-4 control-label"><span class="after">*</span>My Name:</label>
<div class="col-xs-8">
<input class="form-control" id="name" type="text" placeholder="Name" name="name" size="20" required>
</div>
</div>

<div class="form-group">
<label class="col-xs-4 control-label"><span class="after">*</span>My Major:</label>
<div class="col-xs-8">
<input class="form-control" id="major" type="text" placeholder="Major" name="major" size="20" required>
</div>
</div>

<div class="form-group">
<label class="col-xs-4 control-label">College:</label>
<div class="col-xs-8">
<input class="form-control" id="college" type="text" placeholder="College" name="college" size="20" >
</div>
</div>

<div class="form-group">
<label class="col-xs-4 control-label">Summary:</label>
<div class="col-xs-8">
<input class="form-control" id="summary" type="text" placeholder="Summary" name="summary" size="20" >
</div>
</div>

<div class="form-group">
<label class="col-xs-4 control-label">Experience:</label>
<div class="col-xs-8">
<input class="form-control" id="experience" type="text" placeholder="Experience" name="experience" size="20" >
</div>
</div>


<label class="col-xs-4 control-label" >I am a...<button class="btn btn-default dropdown-toggle" id="selectBtn2" type="button" data-toggle="dropdown" style="height:34px float:right"><font size="2"color="black">Select</font><span class = "caret"></span></button>
<ul class="dropdown-menu" id="iAm">
  <li><a href="#" id="mentor2" onclick="displayMentors();">Mentor</a></li>
  <li><a href="#" id="mentee2" onclick="displayMentees();">Mentee</a></li>
</ul>
</label>




<!-- <div class="form-group">
<label class="col-xs-4 control-label" >I am a...<button class="btn btn-default dropdown-toggle" id="selectBtn" type="button" data-toggle="dropdown" style="height:34px"><font size="2"color="black">Select</font><span class = "caret"></span></button>
<ul class="dropdown-menu" id="iAm">
  <li><a href="#" id="mentor" onclick="displayMentors();">Mentor</a></li>
  <li><a href="#" id="mentee" onclick="displayMentees();">Mentee</a></li>
</ul>
</label>
</div> -->



<!-- <form action="/action_page_post.php" method="post"> -->

  <!-- <input type="text" class="form-control" id="userName" placeholder="Name" name="name" size="30" required> -->

<input type="submit" id="saveBtn" class ="btn btn-default center-block" value="Save">

<!-- </div>

  <div class="line">

  <label>My Major:</label> -->

<!--   <div class="project" id="mymajor">

  </div> -->

  <!-- <input type="text" class="form-control" id="userMajor" placeholder="Major" name="major">

  </div> -->


   <!-- <label>My Description:</label> -->

<!--   <div class="descriptionInput" id="mymajor">

  </div> -->

  <!-- <input type="text" class="form-control" id="userDescription" placeholder="Description" name="description"> -->



  <!-- <a href="" id="saveBtn" class="btn btn-default center-block" id="saveMajor">Save</a> -->

<br>
<a href="../myProject/" class="btn btn-default center-block" style="float:left">Continue</a>
<a href="/login" class="btn btn" style="float:right">Log Out</a>
</div>



<!-- View my Profile for Nav BAr
<a href="../myProject/"><img alt="Profile image" class = "img" id="myProfile"></a> -->

<!-- NAV STARTS HERE -->

<div id="nav">

<!-- <ul id="navigation"> -->
<li><img src="../images/backarrow.png" alt="Back image" class="backimg"></li>
<li><a href="/"><img src="../images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href="../messages/"><img src="../images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href=""><img src="../images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="../myProject/"><img src="../images/profile.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="../FAQ/">FAQ</a></li>
<!-- </ul> -->
</div>

<!-- NAV ENDS HERE -->



<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/introHCI.js"></script>
<script src="/js/messageNotif.js"></script>




</body>
</html>
